[submodule "module_00"]
	path = module_00
	url = git@github.com:Gitmard/python_piscine_00.git
[submodule "module_01"]
	path = module_01
	url = git@github.com:Gitmard/python_piscine_01.git
[submodule "module_02"]
	path = module_02
	url = git@github.com:Gitmard/python_piscine_02.git
[submodule "module_03"]
	path = module_03
	url = git@github.com:Gitmard/python_piscine_03.git
[submodule "module_04"]
	path = module_04
	url = git@github.com:Gitmard/python_piscine_04.git
