[submodule "module_00"]
	path = module_00
	url = git@github.com:Gitmard/python_piscine_00.git
[submodule "module_01"]
	path = module_01
	url = git@github.com:Gitmard/python_piscine_01.git
[submodule "module_02"]
	path = module_02
	url = git@github.com:Gitmard/python_piscine_02.git
[submodule "module_03"]
	path = module_03
	url = git@github.com:Gitmard/python_piscine_03.git
[submodule "module_04"]
	path = module_04
	url = git@github.com:Gitmard/python_piscine_04.git
[submodule "module_05"]
	path = module_05
	url = git@github.com:Gitmard/python_piscine_05.git
[submodule "module_06"]
	path = module_06
	url = git@github.com:Gitmard/python_piscine_06
[submodule "module_07"]
	path = module_07
	url = git@github.com:Gitmard/python_piscine_07.git
[submodule "module_08"]
	path = module_08
	url = git@github.com:ardsimm/python_piscine_08.git
